<div>
    <p>Nombre del empleado : {{ nombre }}</p>
    <p>Edad del empleado : {{ edad }}</p>

    @if (edad>=18) {
        <p>Es mayor de edad</p>
    } @else {
        <p>Es menor de edad</p>
    }

    <h1>Listado de articulos</h1>
    <table>
        @for (articulo of articulos; track articulo.codigo) {
            <tr>
                <td>{{ articulo.codigo }}</td>
                <td>{{ articulo.descripcion }}</td>
                <td>{{ articulo.precio }}</td>
            </tr>
        }
    </table>

    <h1>Numero aleatorio entre 1 y 3</h1>
    @switch (generarNumero()) {
        @case (1) {
            <p>Uno</p>
        }
        @case (2) {
            <p>Dos</p>
        }
        @case (3) {
            <p>Tres</p>
        }
    }
</div>